*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 170px;
}
body{
    background-color: rgba(0,0,0,0.91);
    color: rgba(255,255,255,0.87);
    font-family:'Times New Roman', Times, serif;
}
.top_container{
    display:flex;
    flex-direction:column;
}
#myBtn {
  opacity: 0; /* Hidden by default */
  transition-duration: 1.2s;
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(246,246,246, 0.338);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding-left:0px;
    padding-right:0px;
    padding-bottom:40px;
    padding-top:0px;/* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 35px; /* Increase font size */
    height: 44px;
    width:44px;
}

#myBtn:hover {
  color: #050801;
    scale: 1.01;
}

.map{
     margin-top:30px;
    width:100vw;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}
.shade{
    height:20px;
    width:20px;
    display: inline-block;
    border: 1px solid white;
    background-color:teal;
    animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}
@keyframes example {
    0%   {filter: hue-rotate(0deg);}
    25%  {filter: hue-rotate(90deg);}
    50%  {filter: hue-rotate(180deg);}
    50%  {filter: hue-rotate(270deg);}
    100% {filter: hue-rotate(360deg);}
  }


::selection{
    color:#000;
    background: #00808071;
}
header{
    position: sticky;
    top:0px;
}

.cover{
  width: 100vw;
  height:150px;
  border-radius: 0;
  margin: 0;
  filter:opacity(0.6);
  transition: 0.6s;
}
.cover:hover{
  width: 100vw;
  height:150px;
}
.cart{
    height: 50px;
    width:50px;
    position: fixed;
    bottom: 10px;
    right:10px;
    background-color: rgba(246,246,246, 0.338);
      backdrop-filter: blur(3px);
    padding: 7px;
    border-radius: 10px;
}
.cart:hover{
    height: 30px;
    width:30px;
    filter: invert(0.9);
    scale: 1.01;
}
  /* navbar regular css start */
  .navbar-area {
    margin-top: -4px;
    background: rgba(10, 10, 10, 0.338);
      backdrop-filter: blur(3px);
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
      backdrop-filter: blur(3px);
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
.header-area{
        width: 100%;
    }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
      backdrop-filter: blur(3px);
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,0.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: #00000000;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-21px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(16px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  /* mobile breakpoint start */
  @media screen and (max-width: 670px) {
      .site-navbar{
        display: flex;
        flex-direction: column;
      }
      .text{
        margin-top: 0px;
          margin-right: 10px;
    }
    a.site-logo {
      margin-top:30px;
    }
    html{
      scroll-padding-top: 100px;
  }
 .navbar{
    margin-right: 0%;
    min-width: 100vw;
    justify-content:space-around;
  }

  .logo{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
    top: 100px;
    left:0%;
      transition: 0.6s;
  }
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */
.text{
    margin-top: -15px;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 35px;
}

.content{
    margin-top: 30px;
    width: 100%;
}
.title{
    display:block;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}
.note{
    width: 47%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.7s;
    margin: 1%;
}
.coin{
    width: 47%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.7s;
    margin: 1%;
    object-fit:cover;
    object-position: 0%;
}
.cart{
  height: 30px;
  width:30px;
}
.cart:hover{
  height: 30px;
  width:30px;
}
@media only screen and (min-width:670px){
        html{
    scroll-padding-top: 80px;
}
    .text{
    font-size: 20px;
}
    .coin{
      width: 30%;
    }
    .note{
      width: 30%;
    }
    .cover{
      display: none;
    }
    .logo{
        display:none;
    }
    .note:hover{
    aspect-ratio: 1;
      border: 1px solid #ffffff7f;
    padding: 3px;
    padding-bottom: 30px;
}
    .coin:hover{
    aspect-ratio: 2;
        border: 1px solid #ffffff7f;
    padding: 3px;
    padding-bottom: 30px;
}
}
@media only screen and (min-width:1111px){
    html{
    scroll-padding-top: 80px;
}
    .top_container{
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
    .shade{
    height:15px;
    width:15px;
    }
    .text{
    font-size: 20px;
        width:35vw;
}
    .map{
    width:50vw;
    margin-left: 10%;
    transform: translateX(-10%);
    display: block;
    }
    .note{
    width:22.6%;
    aspect-ratio: 1;
    border: 0px solid #ffffff7f;
    padding: 0px;
    padding-bottom: 0px;
}
    .coin{
    width:31%;
    aspect-ratio: 2;
    border: 0px solid #ffffff7f;
    padding: 0px;
    padding-bottom: 0px;
}
    .note:hover{
    width:22.6%;
      border: 0px solid #ffffff7f;
    padding: 0px;
    padding-bottom: 0px;
    filter: grayscale(20%);
}
    .coin:hover{
        width:31%;
    aspect-ratio: 2;
    border: 0px solid #ffffff7f;
    padding: 0px;
    padding-bottom: 0px;
    filter: grayscale(20%);
}
    #imgid{
  margin-left: 8vw;
  margin-top: 0px;
  position: absolute;
}
}
@media only screen and (max-width:670px){
  .note:hover{
    width:96%;
    aspect-ratio: 1;
      border: 1px solid #ffffff7f;
    padding: 3px;
    padding-bottom: 30px;
}
    .coin:hover{
    width:96%;
    aspect-ratio: 2;
        border: 1px solid #ffffff7f;
    padding: 3px;
    padding-bottom: 30px;
}
    .logo:hover{
    width:70px;
    aspect-ratio: 1;
    }
.cart{
  height: 30px;
  width:30px;
}
    cart:hover{
        height: 30px;
    width:30px;
    }
}


.contact{
  background-color: rgb(0,0,0);
  color: rgba(255,255,255,0.87);
  padding-top: 4vh;
  padding-bottom: 4vh;
}
a{
  text-decoration: none;
  color: #fff;
}
.contact>ul>li{
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.contact>ul{
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  list-style: none;
}
hr{
  width: 80vw;
}
#imgid{
  margin-left: 8vw;
  margin-top: -35px;
  position: absolute;
  z-index: -40;
}
.buy{
  margin-left: 55vw;
}

